<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center"><i class="material-icons">book</i>Recipe Book</a>
    
    <!-- collapse icon for nav menu -->
    <a href="#" data-activates="mobile-menu" 
        class="button-collapse" 
        materialize="sideNav">    
        <!-- added materialize directive for initialization of the sideNav behavior -->
      <i class="material-icons">menu</i>
    </a>

    <!-- collapse icon for settings menu -->
    <a href="#" data-activates="mobile-menu-2" 
        class="button-collapse right" 
        materialize="sideNav">    
        <!-- added materialize directive for initialization of the sideNav behavior -->
      <i class="material-icons">settings</i>
    </a>

    <!-- content for nav menu -->
    <ul class="left hide-on-med-and-down">
      <li><a href="#">Recipes</a></li>
      <li><a href="#">Shopping List</a></li>      
    </ul>   
    <!-- same content for sideNav on mobile -->
    <ul class="side-nav" id="mobile-menu">
      <li><a href="#">Recipes</a></li>
      <li><a href="#">Shopping List</a></li>      
    </ul>   

    <!-- content for settings menu: a dropdown menu -->
    <ul class="right hide-on-med-and-down">
      <li>
        <a class="dropdown-button" href="#!" 
              data-activates="nav-dropdown">
            Manage
            <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
    <!-- same content for sideNav on mobile, but no need for dropdown
          show directly the contents of the dropdown -->
    <ul class="side-nav" id="mobile-menu-2">      
      <li><a href="#!">Save Data</a></li>
      <li><a href="#!">Fetch Data</a></li>      
    </ul>    
  </div>
</nav>

<ul id="nav-dropdown" class="dropdown-content">
  <li><a href="#!">Save Data</a></li>
  <li><a href="#!">Fetch Data</a></li>
</ul>