<div class="row">
  <div class="col-x-12">
    <button class="btn green">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">    
    <div class="collection">
      <a href="#" class="collection-item" *ngFor="let item of recipes">                          
        <div class="row">
          <div class="card-left col-xs-9">          
            <span class="title"><h5>{{item.name}}</h5></span>          
            <p>{{item.description}}</p>                                     
          </div>         
          <div class="col-xs-3">
              <img [src]="item.imagePath" alt="" class="card-right" style="max-height: 100px;">
          </div>          
        </div>        
      </a>      
    </div>    
  </div>
</div>
<app-recipe-item></app-recipe-item>