<div class="row outer">
  <div class="col-xs-6 col-sm-4">
    <form #f="ngForm" (ngSubmit)="onSignin(f)">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" 
              name="email" 
              id="email" 
              class="form-control" 
              ngModel 
              required 
              #email="ngModel">
        <span class="invalid-feedback" *ngIf="email.errors?.required && email.touched">Email, please</span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" 
                name="password" 
                id="password" 
                class="form-control" 
                ngModel 
                required
                #password="ngModel"
                >
        <span class="invalid-feedback" *ngIf="password.errors?.required && password.touched">Password, please</span>
      </div>
      <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
  </div>
</div>