.help-block {
  color: deeppink;
  background: linear-gradient(to right, lightgrey, linen, white);
}

.form-control.ng-invalid.ng-touched {
  border: 1px solid red;
}

.btn  {
  min-width: 70px;
}

.expressive {
  font-size: 1.3em;
}